@{
    ViewData["Title"] = "Record Clearance Blog";
}

<!DOCTYPE html>
<html>

<head>
    <style>
        * {
            text-align: center;
            vertical-align: middle;
        }

        .leftcolumn {
            float: left;
            width: 75%
        }

        .rightcolumn {
            float: left;
            width: 20%;
            padding-left: 20px;
            position:relative;
        }

        .card {
            background-color: #B5D3E7;
            padding: 20px;
            margin-top: 20px;
        }

        .fakeimg {
            background-color: white;
            padding: 10px;
            border-color: orange;
            color: white;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .link {
            background-color: lightgray;
            font-weight: bold;
            text-decoration: underline;
            padding-top: 15 px;
            padding-bottom: 15px;
        }

        h1{
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="row">
     
        <div class="leftcolumn">
          <h1>@ViewData["Title"]</h1>
            <div class="card">
                <h2> Record Clearance Blog</h2>
                <h5>[Author Name] [Date]</h5>
                <div class="fakeimg" style="height:200px">IMG</div>
                <p> The Content goes here</p>
            </div>
            <div class="card">
                <h2> Record Clearance Blog</h2>
                <h5>[Author Name] [Date]</h5>
                <p> The Content goes here</p>
            </div>
            <div class="card">
                <h2> Record Clearance Blog</h2>
                <h5>[Author Name] [Date]</h5>
                <p> The Content goes here</p>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="card">
                <h2> How to submit a blog post</h2>
                <p>
                    To be featured, please fill out this form! <br>
                    Your post will be reviewed and uploaded to the site. Thank you for sharing your story!<br>
                </p>
            </div>
            <div class="card">
                <h3>Featured Stories</h3>
                <div class="link">
                    <p>link to a story</p>
                </div>
                <div class="link">
                    <p>link to a story</p>
                </div>
                <div class="link">
                    <p>link to a story</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

