@{
    ViewData["Title"] = "Contact Us";
}

<head>
    <title>Record Clearance Contact Us</title>
    <style>
       p{
           text-align: center;
       }
       h1{
           text-align: center;
       }
    </style>
</head> 
<h1>@ViewData["Title"]</h1>
<p>
    Email: recordclearanceblog@gmail.com <br />
    Report bugs or questions here: <br />


    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScvyulA4Xnr1M01hxg0KUCntmra8bvjVZFvwCI3ws9hjSgFSw/viewform?embedded=true" align ="middle"width="700" height="520" frameborder="0" marginheight="0" marginwidth="0" >Loading…</iframe>

</p>