@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>
<head>
    <title>Record Clearance Contact Us</title>
    <style>
       
    </style>
</head> 
<p>
    Email: recordclearanceblog@gmail.com
    Report bugs or questions here:
</p>

    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScvyulA4Xnr1M01hxg0KUCntmra8bvjVZFvwCI3ws9hjSgFSw/viewform?embedded=true" align ="middle"width="700" height="520" frameborder="0" marginheight="0" marginwidth="0" >Loading…</iframe>

