@{
    ViewData["Title"] = "Clarification";
}
<style>
    h1{ 
        text-align:center;
    }
    .heading {
        background-color: #B5D3E7;
        height:100px;
    }
</style>
<div class="heading">
    <h1>@ViewData["Title"]</h1>
   
    <h3 style="text-align:center">What is the difference between Expungement and Record Clearance?</h3>
</div>
<h4>Expungement</h4>
<p> [Include a definition of expungement here]</p>
<br />
<h4>Record Clearance</h4>
<p> [Include a definition of expungement here]</p>
<br />
<h4>Compare and Contrast</h4>
<p>Content</p>
<br />
<h4>How to decide which path to pursue?</h4>
<p> Content</p>